
$main-color:#333;
$bg-color:orange;
$block-size:50%;

:root{
    --main-color:#{$main-color};
    --bg-color:#{$bg-color};
}
*{
    box-sizing: border-box;
}
body{
    color: var(--main-color);
    margin: 0;
    background-color: var(--bg-color);

}
.container{
    width: 80%;
    margin: 0 auto;
}

// header .container{
//     display: flex;
//     justify-content: space-between;
// }
// header nav{
//     padding: 10px;

// }
// header nav a{
//     color:green;
// }
// header nav a:hover{
//     color: red;
// }
header{
    .container{
        display: flex;
        justify-content: space-between;
    }
    nav{
        padding: 10px;

    }
    a{
        color: green;

        &::before{
            content: "!!!!!";
            color: white;
            font-size: 30px;
        }
        &:hover{
            font-size: 20px;
            color: black;
            &::before{
                font-size: 10px;
                color: gray;
            }
        }
    }
    &.another{
        background-color: wheat;

    }
    @media(max-width:1200px){
        background-color: blue;
        &.another{
            background-color: rgb(199, 141, 34);
        }
    } 
}

.btn{
    padding: 20px;
    font-size: 30px;
    &:hover{
        border: 2px solid black;
    }
}
.btn-green{
    @extend .btn;
    background-color: green;
}
.btn-red{
    @extend .btn;
    background-color: red;
}

@media (max-width:1000px){
    :root{
        --main-color:orange;
        --bg-color:black;
    }
}
