*{
    box-sizing: border-box;
}
:root{
    --base-size:20px;
}
html, body{
    font-size: var(--base-size);
}
/* em, rem */
/* em zize = 1em * parent font size */
/* div{
    padding: 5em;
    background-color: yellow;
}
button{
    padding: 1em 2em;
    font-size: 20px;
}
.size{
    font-size: 20px;
    background-color: orange;
} */

/* em zize = 1em * root font size */
div{
    padding: 5rem;
    background-color: yellow;
}
button{
    padding: 1rem 2rem;
    font-size: 1.5rem;
}
.size{
    font-size: 2rem;
    background-color: orange;
}
@media (max-width:800px){
    :root{
        --base-size:10px;
    }
}